# SQL

## Comandos básicos

#### **SELECT (FILAS) AS (COMO) FROM (BASE DE DATOS) WHERE (CONDICIONAL)**

#### GROUP BY (AGRUPAR RESULTADOS)

#### HAVING (FILTRAR RESULTADOS)

#### ORDER BY (ORDENAR POR)

#### LIMIT (LIMITAR RESULTADOS)

#


#

## Conceptos importantes

#### /d (database) ofrece descripción general de la estructura de la tabla

#### NULL: Vacio, indefinido, no aplica, desconocido

## Modificadores

### INSERT

#### INSERT INTO tablename (attributes) VALUES (...);

#### INSERT INTO Star (kepler_id, t_eff, radius) VALUES
####  (2713050, 5000, 0.956),
####  (2713051, 3100, 1.321);

### DELETE

#### DELETE FROM tablename WHERE condition;

### UPDATE

#### UPDATE tablename
#### SET expression
#### WHERE condition

#### UPDATE Star
#### SET t_eff = 6000
#### WHERE kepler_id = 2713049;